.container {
	display: grid;
	grid-template-columns: 75% 15%;
	grid-template-rows: 60px auto;
	grid-template-areas:
		'nav nav'
		'video sidebar'
		'video sidebar';
}

nav {
	grid-area: nav;
}

#video-container {
	grid-area: video;
}

#sidebar {
	grid-area: sidebar;
}

.vidline {
	border: 1px solid gray;
}
